* {
    margin: 0;
    padding: 0;
    box-sizing: 0;

}
body, button, input, select,textarea{
    font-family: monospace;
}
body{
    background-image: linear-gradient(to right, rgb(197, 196, 197) , rgb(113, 113, 212), rgb(197, 196, 197));
}
header{
     font-family: monospace;
    max-width: 1300px;
    margin: auto;
    height: 80px;
   
}
header #navbar{
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}   
header #navbar .nav-name{
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 600px;
    color: black;
    font-family: monospace;
    margin-top: 60px;
   
    

}
header #navbar .nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    color: black;
}
header #navbar .nav-list .nav-item a{
text-decoration: none;
color:black;
font-size: 22px;
font-weight: 400;
}
header #navbar .nav-list .nav-item a:hover{
    text-shadow: 1px 1px 2px gray;
}
header #navbar .nav-name:hover{
    text-shadow: 1px 1px 1px black;
}
 header #navbar .hamburguer-menu{
    display: none;
 }
 @media (max-width: 700px){
    header #navbar .hamburguer-menu{
        display:flex;}
        header #navbar .nav-list .nav-item a{
            display: none;
        }
 }
  
/*fim do header*/
main {
    margin: auto;
    max-width: 1200px;
    padding: 10px;
    max-height: 1300px;    
    text-align: start;


  
}
main #banner{
    display: flex;
    justify-content: space-between;
    padding: 0.2;
   
}
main #banner-content{
    font-family: monospace;
    
}
main #banner .banner-content .titulo{
    font-family: monospace;
    font-size: 30px;
    line-height: 60px;
    margin-top: 60px;
}
main #banner .banner-content .titulo-2{
    line-height: 60px;
    margin-bottom: 40px;
    font-family: monospace;
    margin-bottom: 15px;
}
 
main #banner .banner-content .pt-brasil {
    font-size: 18px;
    font-weight: 400;
    font-family: monospace;
    margin-bottom: 40px;
    width: 700px;
}
main #banner .banner-content .en-eua{
    font-size: 18px;
    font-weight: 400;
    font-family: monospace;
    margin-bottom: 40px;
    width: 700px;
  
}
img{
    height: 200px;
    width: 200px;
    margin-top: 60px;
    border-radius: 50%;

}
img:hover{
    box-shadow: 10px 10px 20px black;
}
main #button{
    height: 25px;
    width: 25px;
    color: black;
}

main #banner .banner-content .banner-content-btn a{
    color:#000000;
    background-color: white;
    height: 50px;
    width: 155px;
    font-size: 20px;
    font-family: monospace;     
    border-radius: 25%  ;
    text-decoration: none;
    
}
main #banner .banner-content .banner-content-btn:hover{
    box-shadow: 5px 5px 5px black;
}
@media (max-width: 920px) {
    main #banner{
        flex-direction: column-reverse;
        align-items: cente;
}
  }
/*posts cards do main*/

#posts{
    margin-top: 71px;
    background-color: rgb(177, 211, 240);
  
    box-shadow:10px 10px  25px black ;
}

#posts .posts-content{
    padding: 0 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

#posts .posts-content .posts-content-header{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 2rem 0;
}
#posts .posts-content .posts-content-header .section-title{
    font-family: monospace;
    font-size: 35px;
    font-weight: 500;
}
#posts .posts-content .posts-content-header .view-all-link{
    font-size: 20px;
    text-decoration: none;
}
#posts .posts-content .posts-content-header .view-all-link:hover{
    
    transform: scale(1.2);
    transition: all 0.5s;
}
#posts .posts-content .posts-cards{
    display: flex;
    gap: 20px;
}
#posts .posts-content .posts-cards .post-card{
   background-image: linear-gradient(rgb(151, 151, 250), rgb(101, 101, 247));
    box-shadow: 10px 10px 10px black;
    font-family: monospace;
    font-size: 18px;
    margin-bottom: 5px;
}

#posts .posts-content .posts-cards .post-card p{
     margin-bottom:20px ;
     margin-top: 25px;
     padding: 20px;
}

#posts .posts-content .posts-cards .post-card h3{
    margin-left: 130px;
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 600;
}
#posts .posts-content .posts-cards .post-card span{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}
@media (max-width: 740px) {
    #posts .posts-content .posts-cards{
        flex-direction: column;
    }
    
}
/*fim dos cards posts*/

